.config/discord/Cache
.config/discord/Code\ Cache
.config/discord/Local\ Storage
.config/discord/WebStorage
.config/discord
.config/chromium-webapps
themes/.config/themes/.dynamic/
themes/.config/themes/.caelestia-use
spicetify/.config/spicetify/Themes/CaelestiaDynamic
